section[data-section-type="cta"] {
	background-color: $dark-green;
	color: $white;

	text-align: center;

	div {
		height: 100%;
		width: 100%;

		@include inlineBlock;
	}

	$button-width: 190px;

	p {
		// Need to add this margin: 0 to make sure the preceding div gets properly placed
		// Would usually use something like normalize.css to fix stuff like this
		margin: 0;

		min-height: 300px;
		height: 100%;
		width: 70%;

		padding: 47px 0px;

		text-align: left;

		// Not using mixin because we want to middle align
		display: inline-block;
		vertical-align: middle;

		font-size: 1.2em;

	}

	a {
		// Would be preferable to add a class for this one if that was allowed
		&:not(.poke-image) {
			background-color: $light-blue;
			@include montserratFont();
			font-size: 1.8em;

			width: $button-width;
			height: 63px;

			display: inline-block;
			vertical-align: middle;
			text-align: center;

			margin: 20px 0px 20px 30px;
			padding: 20px 0px;

			text-transform: uppercase;

			border-radius: 5px;
			cursor: pointer;
		}

		// Poke-links after clicking 'more' button
		&.poke-image {
			color: $white;
			font-size: 2.4em;
		}

	}
}
