[data-section-type="filterable-content"] {

	color: $gray;

	[data-attribute="movie-block"] {
		width: 305px;
		height: 545px;

		@include inlineBlock;
	}

	[data-attribute="movie-cover"] {
		width: 100%;
		height: 445px;
		background-size: contain;
   	 	background-repeat: no-repeat;

   	 	position: relative;
	}

	ul {
		@include montserratFont();
		font-size: 1.8em;

		position: absolute;
		bottom: -60px;

		padding: 0;
		margin: 0;

	}

}
