#filterable-content {

	color: $gray;
	@include montserratFont();

	.filter-container {
		max-width: 1024px;

		margin: 0 auto;
		padding: 21px;

		border: 1px solid $dark-gray;
	}

	.filter-top-row {
		min-height: 45px;
	}

	.filter.dropdown {
		position: relative;
		float: left;

		height: 45px;
		width: 150px;

		margin: 0 15px 0 0;
		padding: 12px 20px;

		color: $darker-gray;
		text-transform: uppercase;
		font-weight: 700;
		
		background-color: $light-gray;
		border-bottom: 2px solid $dark-gray;

		cursor: pointer;

		&:after {
			position: absolute;
			right: 15px;
			top: 10px;
			content: url("img/down-carat.png");
		}

	}

	.dropdown-menu {
		position: absolute;
		z-index: 1;
		width: 150px;

		background-color: $light-gray;

		margin: 45px 0px 0px 0px;

		// Not ideal, but with DOM structure I had difficulty properly setting dropdowns relative to dropdown button
		&[data-dropdown-type='year'] {
			margin: 45px 0px 0px 165px;
		}

		@include breakpoint(mobile) {
			margin: 0 !important;
		}

		ul {
			list-style-type: none;

			li {
				position: relative;

				padding: 5px;
				height: 32px;
				&:nth-child(2n + 2) { 
		   	 		background-color: $white;
		   	 	}

		   	 	&[aria-pressed='true'] {

		   	 		&:after {
						position: absolute;
						right: 15px;
						top: 10px;
						content: url("img/check.png");
					}
		   	 	}

		   	 	cursor: pointer;
			}
		}
	}

	.filter.search {
		position: relative;
		float: right;

		input {
			height: 35px;
			width: 225px;

			padding: 5px;

			border: 1px solid $dark-gray;

			@include breakpoint(mobile) {
				width: 100%;
			}
		}

		&:after {
			position: absolute;
			right: 15px;
			top: 10px;
			content: url("img/magnifying.png");
		}

	}

	.filter-bottom-row {
		min-height: 45px;
		padding: 10px 0px;
	}

	.filter.poster-type {
		float: left;

		margin-right: 16px;
		font-size: 1.8em;

		input, label { 
			margin: 0;
			vertical-align: middle;
		}

	} 

	.filter.clear-button {
		float: right;
		font-size: 1.8em;

		color: $blue;
		text-decoration: underline;
		text-transform: uppercase;

		cursor: pointer;
	}

	// Mobile styles, make all floating filters block elements
	.filter {
		@include breakpoint(mobile) {
			float: none !important;
			display: block;
			margin: 0px 0px 10px 0px !important;
		}
	}

	// Movie block

	.movie-container {
		max-width: 1024px;

		margin: 0 auto;
		padding: 21px 16px;

		text-align: left;

		border: 1px solid $dark-gray;
	}

	.movie-block {
		width: 305px;
		min-height: 545px;

		@include inlineBlock;

		text-align: left;

		margin: 0px 10px; 
	}

	.movie-title {
		font-weight: 700;
		margin: 5px 0px 10px 0px;
	}

	.movie-year {
		font-size: 1em;
	}

	img {
		max-width: 100%;
	}

	ul {
		@include montserratFont();
		font-size: 1.8em;

		padding: 0;
		margin: 0;

	}

}
