#testimonial {
	background-color: $light-gray;

	div {
		height: 100%;
		padding: 40px 20px;
		text-align: center;

		@include breakpoint(mobile) {
			padding: 10px 5px;
		}
	}

	// Align both p and span
	p, span {
		@include inlineBlock;
		width: 50%;

		text-align: left;

		@include breakpoint(mobile) {
			width: 70%;
		}
	}
	p {
		// Would normally insert an <img> tag instead of using this selector,
		// but this avoids adding any DOM elements to the source file
		&:before {
			position: absolute;
			top: 26px;
			margin-left: -40px;

			content: url("img/testimonial-flair.png");

			@include breakpoint(mobile) {
				margin: 0;
				left: 10px;
			}
		}
	}
	span {
		@include montserratFont;
		font-size: 1.4em;
	}

}
