<!DOCTYPE html>
<html>

<head> 
	<% include ../partials/_fonts.ejs %>
	<title><%= title %></title> 
</head>

<body> 
	<% include ../partials/_cta.ejs %>
	<% include ../partials/_filterable-content.ejs %>
	<% include ../partials/_testimonial.ejs %>
</body>

</html>
