<!DOCTYPE html>
<html>

<head> 
	<% include ../partials/_fonts.ejs %>
	<link href="app.css" rel="stylesheet">
	<title><%= title %></title> 
</head>

<body> 
	<% include ../partials/_testimonial.ejs %>
	<% include ../partials/_cta.ejs %>
	<% include ../partials/_filterable-content.ejs %>

	<!-- 
		HubSpot coding exercise from https://github.com/HubSpotWebTeam/CodeExercise.
		Implemented by Theron Patrick in 2016.
		Visit my personal website at http://theronp.com
	-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="js/index.js"></script>
</body>

</html>
