html {
	font-size: 62.5%;
	box-sizing: border-box;
}

section, div, body, html {
    padding: 0;
    margin: 0;
}

// Use box sizing on everything
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	@include robotoFont;
	margin: 0;
}
p, span {
	font-size: 1.8em;
}

// Basic structure blocks.  Need special div selector for testimonial since it's not
// in a section
section, div[data-section-type="testimonial"] {
	min-height: 300px;
}
