// Colors
$light-gray: #f9f8f7;
$dark-green: #0f434c;
$white: #ffffff;
$light-blue: #1da1db;

// Fonts
// TODO: Put in own file if needed
@mixin robotoFont() {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
}
@mixin montserratFont() {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

// Helpers
// Some browsers act wonky if vertical-align isn't explictly set
@mixin inlineBlock() {
	display: inline-block;
	vertical-align: top;
}


@mixin breakpoint($point) {
   @if $point == mobile {
     @media (max-width: 415px) { @content ; }
  }
}
