<section id="cta">
	<div>
		<p>All of a sudden cat goes crazy. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce behind the couch, so ignore the squirrels, you'll never catch them anyway destroy couch, but destroy the blinds. Why must they do that poop on grasses but who's the baby, so scamper mew. Give attitude chase red laser dot missing until dinner time, but destroy couch, and lay on arms while you're using the keyboard give attitude sit in box. Stare at ceiling. Attack the dog then pretend like nothing happened cat slap dog in face groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked! yet rub face on owner so drink water out of the faucet loves cheeseburgers yet destroy couch. Chase red laser dot always hungry. Eat the fat cats food stare out the window and hopped up on catnip, so stand in front of the computer screen. Hack up furballs thinking longingly about tuna brine so rub face on owner shove bum in owner's face like camera lens lick arm hair thinking longingly about tuna brine. </p><a role="button" tabindex="0" class="tell-more-button">tell me more</a>
	</div>
</section>
