<section id="filterable-content">
	<div class="filter-container">
		<div>
			<div>
				<div>
					<div>
						<span>Genre</span>
						<div></div>
					</div>
					<div>
						<span>Year</span>
						<div></div>
					</div>
					<div>
						<input type="text">
					</div>
				</div>
				<div>
					<div>
						<input type="radio">
						<label>Movies</label>
					</div>
					<div>
						<input type="radio">
						<label>Books</label>
					</div>
					<div >
						<a href="#">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="movie-container">
		<% for (var i=0; i < movies.length; i++) {%>
		<div class="movie-block">
			<div class="movie-cover" style="background-image: url('<%= movies[i].poster %>')">
				<ul class="movie-title"><%= movies[i].title %> (<%= movies[i].year %>) <br /> Genres: <% for (var j=0; j < movies[i].genre.length; j++){%> <%= movies[i].genre[j]%> <% } %></ul>
			</div>
		</div>
		<% } %>
	</div>
</section>
